extends layout

block content
  br
  h1= title
  p.center Making it Easier to Diagnose Your OBDII Codes!
  br
  .container
    .row
      .col
        h2 Search Your Error Code

        - Reference: https://teamtreehouse.com/library/creating-a-registration-form-with-pug-jade-2
        script(src='/search.js')

        form(method='POST', id='search')
          div.form-group
            input#obdcode.form-control(type='text', placeholder='OBDII Code', name='obdcode')
          div.form-group
            input#make.form-control(type='text', placeholder='Make of Vehicle: Currently Implementation Only Supports Jeep, Subaru and Ford', name='make')
          center
            button.btn.btn-dark(type='submit') Search

        br
        if message
          h3.message !{message}
        if results
          h2 Results for !{obdcode} on !{make} 
          table(style="width:100%", align="center", border="1")
            tr 
              th.center Symptoms
              th.center Common Fixes
            each result in results 
              tr
                th !{result.Symptom}
                th !{result.CommonFix}
            
      
    

