body {
  padding-bottom: 1rem;
  background-color: #ededed !important; 
}


a {
  color: #00B7FF;
}

h1, h2 {
	text-align: center;
}

.center {
	text-align: center;
}

th, tr {
	padding: 5px;
}

.message {
	color: red;
}


.footer {
  text-align: center;
  background-color: #343a40; /* same as bg-dark */
  bottom: 0;
  width: 100%;
  color: white;
  position: absolute;
  padding: 10px;
  padding-bottom: 1em; 
}


